<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ch.ra-phi.alfred.quick-folder-search</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>EC394A7B-FE21-41EC-A553-00CA8151D68E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BCEE4FC-C663-4BF9-959D-7F2E6E163109</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>raφ</string>
	<key>description</key>
	<string>Allows one to quickly select files from a predefined folder</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Quick Folder Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>if [ -L ./scope ]; then
	rm ./scope
fi

ln -s "{query}" ./scope</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7BCEE4FC-C663-4BF9-959D-7F2E6E163109</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Set as Quick Search Folder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>EC394A7B-FE21-41EC-A553-00CA8151D68E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>qfs</string>
				<key>scopes</key>
				<array>
					<string>~/Library/Application Support/Alfred 2/Alfred.alfredpreferences/workflows/user.workflow.194B4B63-F905-40C3-AAA1-365A38D2570A/scope</string>
				</array>
				<key>title</key>
				<string>Seach in Quick Search Folder</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>441B9303-0399-40C1-B675-30F440D82F6E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>441B9303-0399-40C1-B675-30F440D82F6E</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>7BCEE4FC-C663-4BF9-959D-7F2E6E163109</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EC394A7B-FE21-41EC-A553-00CA8151D68E</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
